* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Header */
header {
  background-color: #006b7e;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-size: 22px;
  letter-spacing: 1px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Event container */
.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

    .table-section {
      max-width: 1000px;
      margin: auto;
      padding: 5px 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      padding: 5px 10px;
      border: 1px solid #ccc;
    }

    th {
      text-align: left;
      background-color: #f0f0f0;
    }

    h4 {
      font-size: 20px;
      color: #003366;
      border-left: 4px solid #003366;
      padding-left: 10px;
      margin: 20px 0 10px;
    }

    .accordion {
      background-color: #007bff;
      color: white;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 16px;
      transition: 0.3s;
      margin-top: 10px;
    }

    .active, .accordion:hover {
      background-color: #0056b3;
    }
/* Event card */
.event-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.event-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.event-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-card p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Register button */
.event-card button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.event-card button:hover {
  background-color: #e64a19;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 16px;
  text-align: center;
  font-size: 13px;
  width:100%;
  margin-top: 30px;
}
